<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmonitorapp20230603192500.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/650448d1-445f-4889-9a0f-93749de46bd6/resourceGroups/AzureFunctionDemos/providers/Microsoft.Web/sites/GitHubMonitorApp20230603192500</ResourceId>
    <UserName>$GitHubMonitorApp20230603192500</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubmonitorapp20230603192500.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>